<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Max Book</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="image" mat-card-image src="../../../assets/images/macbook.png" >
          <p>Цена: 1500</p>
          <p>Чип: 1500</p>
          <p>Год выпуска: 2020</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>В корзину</button>
          <button mat-button>Подробнее</button>
        </mat-card-actions>
      </mat-card>
</div>